<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_nfzUTvb2Yrr0B_5Rm5iVF56kzj5EGFk</string>
	<key>GCM_SENDER_ID</key>
	<string>395894726844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ebio.mobile</string>
	<key>PROJECT_ID</key>
	<string>ebio-1711e</string>
	<key>STORAGE_BUCKET</key>
	<string>ebio-1711e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395894726844:ios:540f541eb01e21beff70b9</string>
</dict>
</plist>